{% extends 'base.html' %} {% block title %}Products List{% endblock title %} 

{% block body %}

<h1>
    {% if form.instance.id %}Update Product{% else %}Create Product{% endif %}
  </h1>
  

<div class="container">
  <form method="post">
  <div class="input-group mb-3">
    <label for="id">Product ID</label>
    <input type="text" class="form-control" placeholder="Id" id="Id"  name="Id"/>
  </div>
  <div class="input-group mb-3">
    <label for="Name">Name</label>
    <input type="text" class="form-control" placeholder="Name" id="Name"  name="Name"/>
  </div>
  <div class="input-group mb-3">
    <label for="Price">Price</label>
    <input type="text" class="form-control" placeholder="Price" id="Price"  name="Price"/>
  </div>
  <div class="input-group mb-3">
    <label for="SaleCom">Sales Commission</label>
    <input type="text" class="form-control" placeholder="SaleCom" id="SaleCom"  name="SaleCom"/>
  </div>
  <div class="input-group mb-3">
    <label for="PurCom">Purchases Commission</label>
    <input type="text" class="form-control" placeholder="PurCom" id="PurCom"  name="PurCom"/>
  </div>
  <div class="input-group mb-3">
    <label for="stock">Stock</label>
    <input type="text" class="form-control" placeholder="Stock" id="Stock"  name="Stock"/>
  </div>
    
    {% csrf_token %} {{ form.as_p }}
    <button type="submit">
      {% if form.instance.id %}Update{% else %}Create{% endif %}
    </button>
  </form>
  <a href="{% url 'product_list' %}">Back to List</a>
</div>
</div>

<style>
    .text {
      background-color: linen;
      color: red;
    }
    
    button {
      color: maroon;
      margin-left: 40px;
    }
    </style>
{% endblock body %}
