<!DOCTYPE html>
<html>
<head>
    <title>Customer Detail</title>
</head>
<body>
    <h1>{{ customer.first_name }} {{ customer.last_name }}</h1>
    <p>Address: {{ customer.address }}</p>
    <p>City: {{ customer.city }}</p>
    <p>State: {{ customer.state }}</p>
    <p>Country: {{ customer.country }}</p>
    <p>Post Code: {{ customer.post_code }}</p>
    <p>Due Amount: ${{ customer.due_amount }}</p>
    <a href="{% url 'customer_update' customer.id %}">Edit</a>
    <a href="{% url 'customer_list' %}">Back to List</a>
</body>
</html>
