<!DOCTYPE html>
<html>
<head>
    <title>Customer List</title>
</head>
<body>
    <h1>Customer List</h1>
    <a href="{% url 'customer_create' %}">Create New Customer</a>
    <ul>
        {% for customer in customers %}
        <li>
            <a href="{% url 'customer_detail' customer.id %}">{{ customer.first_name }} {{ customer.last_name }}</a> -
            <a href="{% url 'customer_update' customer.id %}">Edit</a> -
            <a href="{% url 'customer_delete' customer.id %}">Delete</a>
        </li>
        {% endfor %}
    </ul>
</body>
</html>
